@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding-left: $container-padding-mobile;
  padding-right: $container-padding-mobile;

  @include tablet-up {
    padding-left: $container-padding-tablet;
    padding-right: $container-padding-tablet;
  }

  @include desktop-up {
    padding-left: $container-padding-desktop;
    padding-right: $container-padding-desktop;
  }
}
